/* –––––––––––––––––––––––––––––––––––––––––––––––
  GENERAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */


/* Normalize
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
}

a {text-decoration: none;}

a:active,
a:hover {
  outline: 0
}

img {
  border: 0
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup { top: -.5em }
sub { bottom: -.25em }


/* Support Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

.transition {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:    all .3s ease-in-out;
  -o-transition:      all .3s ease-in-out;
  transition:         all .3s ease-in-out;
}

.invisible { opacity: 0;}
.hidden    { display: none!important; }
.flleft    { float: left; }
.flright   { float: right;}
.flnone    { float: none; }
.first     { margin-left: 0;}
.last      { margin-right: 0;}

.img-replace {
  text-indent: -999em;
  overflow: hidden;
}

.relative { position: relative; }
.absolute { position: absolute; }

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto
}

.c-default { cursor: default; }
.c-pointer { cursor: pointer; }



/* Support Classes - Box-spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Padding */

.f-pd0 { padding: 0!important;}

.pdt0  { padding-top: 0!important; }
.pdt5  { padding-top: 5px; }
.pdt10 { padding-top: 10px; }
.pdt15 { padding-top: 15px; }
.pdt20 { padding-top: 20px; }
.pdt25 { padding-top: 25px; }
.pdt30 { padding-top: 30px; }
.pdt35 { padding-top: 35px; }
.pdt40 { padding-top: 40px; }
.pdt45 { padding-top: 45px; }
.pdt50 { padding-top: 50px; }

.pdr0  { padding-right: 0!important; }
.pdr5  { padding-right: 5px; }
.pdr10 { padding-right: 10px; }
.pdr15 { padding-right: 15px; }
.pdr20 { padding-right: 20px; }
.pdr25 { padding-right: 25px; }
.pdr30 { padding-right: 30px; }
.pdr35 { padding-right: 35px; }
.pdr40 { padding-right: 40px; }
.pdr45 { padding-right: 45px; }
.pdr50 { padding-right: 50px; }

.pdb0  { padding-bottom: 0!important; }
.pdb5  { padding-bottom: 5px; }
.pdb10 { padding-bottom: 10px; }
.pdb15 { padding-bottom: 15px; }
.pdb20 { padding-bottom: 20px; }
.pdb25 { padding-bottom: 25px; }
.pdb30 { padding-bottom: 30px; }
.pdb35 { padding-bottom: 35px; }
.pdb40 { padding-bottom: 40px; }
.pdb45 { padding-bottom: 45px; }
.pdb50 { padding-bottom: 50px; }

.pdl0  { padding-left: 0!important; }
.pdl5  { padding-left: 5px; }
.pdl10 { padding-left: 10px; }
.pdl15 { padding-left: 15px; }
.pdl20 { padding-left: 20px; }
.pdl25 { padding-left: 25px; }
.pdl30 { padding-left: 30px; }
.pdl35 { padding-left: 35px; }
.pdl40 { padding-left: 40px; }
.pdl45 { padding-left: 45px; }
.pdl50 { padding-left: 50px; }


/* Margin */

.f-mg0 { margin: 0!important; }

.mgt0  { margin-top: 0!important; }
.mgt5  { margin-top: 5px; }
.mgt5  { margin-top: 5px; }
.mgt5  { margin-top: 5px; }
.mgt10 { margin-top: 10px; }
.mgt15 { margin-top: 15px; }
.mgt20 { margin-top: 20px; }
.mgt25 { margin-top: 25px; }
.mgt30 { margin-top: 30px; }
.mgt35 { margin-top: 35px; }
.mgt40 { margin-top: 40px; }
.mgt45 { margin-top: 45px; }
.mgt50 { margin-top: 50px; }

.mgr0  { margin-right: 0!important; }
.mgr5  { margin-right: 5px; }
.mgr10 { margin-right: 10px; }
.mgr15 { margin-right: 15px; }
.mgr20 { margin-right: 20px; }
.mgr25 { margin-right: 25px; }
.mgr30 { margin-right: 30px; }
.mgr35 { margin-right: 35px; }
.mgr40 { margin-right: 40px; }
.mgr45 { margin-right: 45px; }
.mgr50 { margin-right: 50px; }

.mgb0  { margin-bottom: 0!important; }
.mgb5  { margin-bottom: 5px; }
.mgb10 { margin-bottom: 10px; }
.mgb15 { margin-bottom: 15px; }
.mgb20 { margin-bottom: 20px; }
.mgb25 { margin-bottom: 25px; }
.mgb30 { margin-bottom: 30px; }
.mgb35 { margin-bottom: 35px; }
.mgb40 { margin-bottom: 40px; }
.mgb45 { margin-bottom: 45px; }
.mgb50 { margin-bottom: 50px; }

.mgl0  { margin-left: 0!important; }
.mgl5  { margin-left: 5px; }
.mgl10 { margin-left: 10px; }
.mgl15 { margin-left: 15px; }
.mgl20 { margin-left: 20px; }
.mgl25 { margin-left: 25px; }
.mgl30 { margin-left: 30px; }
.mgl35 { margin-left: 35px; }
.mgl40 { margin-left: 40px; }
.mgl45 { margin-left: 45px; }
.mgl50 { margin-left: 50px; }


/* Text Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.linethrough  { text-decoration: line-through; }
.tx-center    { text-align: center; }
.tx-left      { text-align: left; }
.tx-right     { text-align: right; }
.tx-uppercase { text-transform: uppercase;}
.tx-lowercase { text-transform: lowercase;}

/* ––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––––– */
