// breakpoints  //

$break-xs: "only screen and (min-width: 320px)";
$break-sm: "only screen and (min-width: 480px)";
$break-md: "only screen and (min-width: 768px)";
$break-lg: "only screen and (min-width: 920px)";
$break-xl: "only screen and (min-width: 1200px)";

$mobile: "only screen and (max-width: 767px)";


// colors  //
$color-primary: #7ab732;

$color-highlight: #23283d;
$color-text: #84858f;

$color-lightgray: #d4d4d4;
